.contact {
    background: $dark-accent;
    background: rgb(178,200,255);
    background: linear-gradient(342deg, rgba(178,200,255,1) 0%, rgba(105,119,188,1) 22%, rgba(62,71,148,1) 46%, rgba(28,33,117,1) 71%, rgba(7,10,98,1) 100%);
    color: $white;

    .content {
        background: $white;
        color: $black;
        padding: 3rem 2rem 3rem;
    }

    h4 {
        margin: 1rem 0;
    }
}


.email-link {
    @include accent-bold();
    font-size: 2rem;
    transition: 1s;
    font-weight: bold;
    color: $dark-accent;

    &:before {
        transition: 1s ease-in;
    }
    

    .fa-paper-plane {
        color: $primary;
    }

    &:hover, 
    &:focus {
        color: lighten($dark-accent, 20%);
        

        .fa-paper-plane {
            animation: wiggle 3s infinite;
        }

        &::before {
            width: 13rem;
            height: 2rem;
        }
    }
}

h4.skill-heading {
    font-size: 2rem;
}

.social-row {
    display: flex;
    align-items: center;

    .social-nav {
        padding-left: 0;
        border: 0;
    }
}