ul,
li {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4rem;
  padding: 1.2rem 1.8rem 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.dark-button {
  background: $dark-accent;
  color: $white;
  border: 2px solid $dark-accent;
  &:hover {
    background: $dark-cool;
    border: 2px solid $dark-cool;
  }
}

.light-button {
  color: $dark-accent;
  border: 2px solid $dark-accent;
  &:hover {
    background: $dark-cool;
    border: 2px solid $dark-cool;
    color: white;
  }
}

.social-nav li {
  transition: 0.3s;
  &:hover,
  &:focus {
    transform: rotate(-15deg);
  }
}

/******************/
/*** Typography ***/
/******************/
body {
  @include primary-light();
  @include fontSize(16);
}

h1 {
  @include accent-semibold();
  @include fontSize(40);
}

h2 {
  @include accent-semibold();
  @include fontSize(50);
}

h3 {
  @include primary-medium();
  @include fontSize(20);
}

.tagline {
  text-transform: uppercase;
}