ul,
li {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {

  @include breakPoint(desktop) {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
  }
}

.main-section {

  header {
    min-height: 100vh;
    padding: 50px;
    @include flexCenter();
    position: relative;
  }

  .content {
    min-height: 100vh;
    padding: 50px 100px;
  }

  @include breakPoint(desktop) {
    display: flex;
    scroll-snap-align: center;
  
    header {
      width: calc(100% / 3);
    }

    .content {
      width: calc((100% / 3) * 2);
      height: 100vh;
      overflow: scroll;
    }
  }
}

.about header { background: $dark-cool; color: $white; }
.portfolio header { background: $medium-cool; color: $white; }
.skills header { background: $light-medium-cool; color: $white;}
.contact header { background: $light-cool; color: $white; }

/******************/
/*** Typography ***/
/******************/
body {
  @include primary-light();
  @include fontSize(16);
}

h1 {
  @include accent-semibold();
  @include fontSize(40);
}

h2 {
  @include accent-semibold();
  @include fontSize(50);
}

h3 {
  @include primary-medium();
  @include fontSize(20);
}

.tagline {
  text-transform: uppercase;
}