.landing {
  min-height: 100vh;
  text-align: center;
  color: $white;
  background: rgb(178,200,255);
  background: linear-gradient(342deg, rgba(178,200,255,1) 0%, rgba(105,119,188,1) 22%, rgba(62,71,148,1) 46%, rgba(28,33,117,1) 71%, rgba(7,10,98,1) 100%);
  @include flexCenter();


  &-content {
    position: relative;

    h1,
    p {
      position: relative;
      z-index: 1;
      text-shadow:
        2px 2px 1px $dark-accent,
        -2px -2px 1px $dark-accent;

    }
  }

  .line-sun {
    fill: $primary;
    position: absolute;
    width: 175px;
    left: -1%;
    top: -27%;
    z-index: 0;
    animation: spin 15s linear infinite;
  }

}