.mobile-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  fill: $primary;
  width: 30px;
  height: 38px;
  cursor: pointer;
  transition: 0.5s;

  &:hover,
  &:focus {
    transform: rotate(45deg);
    filter: drop-shadow(3px 3px 4px $medium-neutral);
  }

  @include breakPoint(desktop) {
    display: none;
  }
}

.overall-nav {
  position: fixed;
  right: 0;
  top: 105px;
  transition: 0.3s;

  &.active {
    background: salmon;

  }

  ul {
    display: flex;
    border: 1px solid $medium-warm;
  }
}