.portfolio .content {
    padding:0;
}

.portfolio {
    background: $dark-accent;
    color: $white;
}

.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    background: $white;
    color: $black;
    position: relative;

    @include breakPoint(desktop) {
        flex-direction: row;
        align-items: stretch;
    }
}

.project-accent-icon {
    position: absolute;
    width: 55px;
    right: -2.5rem;
    top: -2.5rem;
    z-index: 2;

    @include breakPoint(desktop) {
        width: 75px;
        right: -3.5rem;
        top: -3.5rem;
    }
}

.writing-icon {
    width: 40px;
    top: -2rem;
    right: -2rem;
    @include breakPoint(desktop) {
        width: 65px;
        top: -3rem;
        right: -3rem;
    }
}

.video-icon {
    width: 50px;

    @include breakPoint(desktop) {
        width: 70px;
    }
}

.project-desc {
    margin: 5rem 2rem 6rem;

    h3 {
        position: relative;
        &::after {
            content: "";
            height: 2px;
            width: 50px;
            position: absolute;
            background: $primary;
            bottom: -1rem;
            left: 2.3rem;
            transform: translateX(-50%);

            @include breakPoint(tablet) {
                bottom: -1.2rem;
            }
        }
    }

    p {
        margin-bottom: 3rem;
    }
}

.project-pic {
    background-image: url(../styles/assets/corona-placeholder.jpg);
    background-size: 175%;
    background-position: center;
    position: relative;
    width: 100%;
    transition: 2s;
    height: 300px;

    &.ethical-dilemma {
        background-image: url(../styles/assets/man-computer.png);
    }

    &.seneca-journalism {
        background-image: url(../styles/assets/girl-writing.png);
    }

    &:hover {
        .overlay {
            opacity: 1;
        }

        background-size: 180%;
    }

    @include breakPoint(desktop) {
        width: 40%;
        flex-shrink: 0;
        height: auto;

        background-size: 200%;

        &:hover {
            background-size: 220%;
        }
    }

    .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @include flexCenter();
        transition: 0.3s;

        @include breakPoint(desktop) {
            opacity: 0;
        }
    }
}

.skills-used {
    @include accent-regular;
    font-style: italic;
}