/**************/
/*** Colors ***/
/**************/
$black: #282d4c;
$white: #ffffff;

$primary: #f8ca67;
$secondary: #b2c8ff;

$light-cool: #d4dcf2;
$light-medium-cool: #b5bde0;
$medium-neutral: #d8a689;
$medium-warm: #b03c22;
$medium-cool: #9aa4cf;
$dark-cool: #515a88;
$dark-accent: #070A62;

/*************/
/*** Fonts ***/
/*************/
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
@mixin accent-regular() {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
@mixin accent-medium() {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}
@mixin accent-semibold() {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}
@mixin accent-bold() {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

@mixin primary-light() {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@mixin primary-regular() {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin primary-medium() {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/**************/
/*** Mixins ***/
/**************/
// fontSize(sizeValue);
@mixin fontSize($sizeValue){
	font-size: $sizeValue * 1px;
	font-size: ($sizeValue/10) * 1rem;
}

// flexCenter();
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// breakPoint(point)
@mixin breakPoint($point) {
  @if $point == desktop {
    @media (min-width: 1090px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 736px) { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 480px) { @content; }
  }
}

.desktop-only {
  @media (max-width: 900px) {
    display: none;
  }
}

/******************/
/*** Animations ***/
/******************/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}